/******************************************
*************** VARIABLES *****************
******************************************/
$color-gray: #6D6F7A;
$color-gray-soft: #F5F5F5;
$color-white: white;
$color-blue: #1F359B;
$color-blue-soft: #4049AA;

/******************************************
************** MOBILE VIEW **************** = @media screen and (max-width: 768px) {}
******************************************/
@import "stylesItems/mobile";

/******************************************
***************** IPAD ********************   = 961px > width > 767px
******************************************/
@import "stylesItems/ipad";

/******************************************
***************** IPAD ********************   = 961px > width > 767px
******************************************/