/******************************************
*************** VARIABLES *****************
******************************************/
$color-gray: #6D6F7A;
$color-gray-soft: #F5F5F5;
$color-white: white;
$color-blue: #1F359B;
$color-blue-soft: #4049AA;

/******************************************
****** MOBILE VIEW (max-width: 768px) ***** → (Min 280px)
******************************************/
@import "stylesItems/mobile";

/********************************************************
* SMALL SCREEN (max-width: 961px) and (min-width: 767px)*   →  (Ipad)
********************************************************/
@import "stylesItems/smallScreen";

/***********************************************************
* Medium Screen (max-width: 1024px) and (min-width: 960px) *
************************************************************/
@import "stylesItems/mediumScreen";
/***********************************************************
************* Large Screen (width > 1200px) ****************
************************************************************/
@import "stylesItems/largeView";